{{!log 'jiObject' jiA}}
{{!log 'arrayedObj' arrayedArray}}

{{!--
             _____    _____              __     __
     /\     |  __ \  |  __ \      /\     \ \   / /
    /  \    | |__) | | |__) |    /  \     \ \_/ /
   / /\ \   |  _  /  |  _  /    / /\ \     \   /
  / ____ \  | | \ \  | | \ \   / ____ \     | |
 /_/    \_\ |_|  \_\ |_|  \_\ /_/    \_\    |_|
--}}


<div layout="row" class="ji-array" layout-fill="" layout-padding="" {{action "updatePath" path bubbles=false}} >

    <div>
        {{#md-button class="ji-button" action="toggleExpanded" bubbles=false}}
            {{#if isExpanded }}
                {{material-design-icon name='menu-down'}}
            {{/if}}

            {{#unless isExpanded }}
                {{material-design-icon name='menu-right'}}
            {{/unless}}
        {{/md-button}}
    </div>


    <div layout-fill="" > [
        {{#if isExpanded}}

            {{#each arrayedArray as |obj|}}

                <div layout="row" layout-margin="" class="jiRow">
                    {{json-inspector inspectThis=obj.val path=obj.path updatePath="updatePath" isLast=obj.isLast}}
                </div>

            {{/each}}

        {{else}}
        ...
        {{/if}}  {{! /if isExpanded }}

        ]{{#unless isLast}},{{/unless}}

    </div>

</div>  {{! div[layout=row] }}
