{{!log 'jiObject' jiObject}}
{{!log 'arrayedObj' arrayedObj}}

{{!--
   ____    ____         _   ______    _____   _______
  / __ \  |  _ \       | | |  ____|  / ____| |__   __|
 | |  | | | |_) |      | | | |__    | |         | |
 | |  | | |  _ <   _   | | |  __|   | |         | |
 | |__| | | |_) | | |__| | | |____  | |____     | |
  \____/  |____/   \____/  |______|  \_____|    |_|


  --}}

<div layout="row" layout-padding="" class="ji-object" {{action "updatePath" path bubbles=false}}>

    <div>
    {{#md-button class="ji-button" action="toggleExpanded" bubbles=false}}
        {{#if isExpanded }}
            {{material-design-icon name='menu-down'}}
        {{/if}}

        {{#unless isExpanded }}
            {{material-design-icon name='menu-right'}}
        {{/unless}}
    {{/md-button}}
    </div>

    <div> {

    {{#if isExpanded}}

        {{#each arrayedObj as |obj|}}
            {{!log 'jio' this content}}
            <div layout="row" layout-margin="" class="jiRow">
                <div class="jiKey" layout-padding="" {{action 'updatePath' obj.path bubbles=false}}>
                    {{!--<span class="jiKey" {{action 'updatePath' obj.path}}>--}}
                        "{{obj.key}}":&nbsp;
                    {{!--</span>--}}
                </div>
                {{! <div> }}
                    {{json-inspector inspectThis=obj.val path=obj.path updatePath="updatePath" isLast=obj.isLast}}
                {{! </div> }}
            </div>
        {{/each}}
    {{else}}
    ...
    {{/if}}  {{! /if isExpanded }}

    }{{#unless isLast}},{{/unless}}
    </div>

</div>  {{! div[layout=row] }}

{{!yield}}

