
{{log 'inspectThis' inspectThis isObject}}

{{! //@TODO  DRY... }}
{{#if isObject}}
    <div layout="column">
        <div {{action doIt}}> {</div>
            {{json-inspector-object jiObject=inspectThis propertyPath='$yourVar' updatePath="updatePath"}}
        <div> }</div>
    </div>
{{/if}}

{{#if isArray }}
    [
      {{json-inspector-array  jiArray=inspectThis propertyPath='$yourVar' updatePath="updatePath"}}
    ]
{{/if}}

{{#if isPrimitive}}
  <div class="jiVal" {{action updatePath '$yourVar'}}>
      {{ inspectThis }}
  </div>
{{/if}}

{{!yield}}
