
<div layout-align="center">
    <h1 id="title">Ember JSON Inspector</h1>
</div>

<div layout="row">

    <div flex="{{jsonInputWidth}}" offset="{{jsonInputOffset}}">
        <h2 class="md-title">JSON Text</h2>
        {{#if jsonError}}
            <div class="md-warn">
                Bad JSON
          
            <div layout-padding="" >                
                {{jsonErrorMessage}}
            </div>
              </div>
        {{/if}}
        {{textarea value=jsontext layout-fill="" rows="10"}}

        {{#md-button class="md-raised" action="sampleData1" bubbles=false}}
            Sample Data
        {{/md-button}}
    </div>

    {{#if showInspector}}

    <div flex="5"></div>

    <div class="ji-frame" layout="column" flex>
        {{!-- {{#liquid-if showInspector class='showInspector'}} --}}

        <h2 class="md-title">JSON Inspector</h2>
        <div layout-fill="">
            {{#sticky-container}}
                {{input value=propertyPath layout-fill=""}}
            {{/sticky-container}}
        </div>
        <div class="md-whiteframe-z2"  layout-padding>
            {{json-inspector inspectThis=inspectThisObject updatePath="updatePath"}}
        </div>
        {{!-- {{/liquid-if }}  {{!#if false}} --}}
    </div>

    <div flex="25">
        
    </div>


    {{/if }}  {{!#if false}}
</div>

{{outlet}}
