
<div layout-align="center">
    <h1 id="title">Ember JSON Inspector</h1>
</div>

<div layout="row">

    <div flex="{{jsonInputWidth}}" offset="{{jsonInputOffset}}">
        <h2 class="md-title">JSON Text</h2>
        {{#if jsonError}}
            <div>
                Bad JSON<br>
              {{jsonErrorMessage}}
            </div>
        {{/if}}
        {{textarea value=jsontext layout-fill="" rows="10"}}
    </div>

    <div flex="5">
    </div>

    <div class="ji-frame" layout="column" flex>
        {{!-- {{#liquid-if showInspector class='showInspector'}} --}}

        <h2 class="md-title">JSON Inspector</h2>
        <div layout-fill="">
            {{#sticky-container}}
                {{input value=propertyPath layout-fill=""}}
            {{/sticky-container}}
        </div>
        <div class="md-whiteframe-z2"  layout-padding>
            {{json-inspector inspectThis=inspectThisObject updatePath="updatePath"}}
        </div>
        {{!-- {{/liquid-if }}  {{!#if false}} --}}
    </div>
    {{!-- {{/if }}  {{!#if false}} --}}
</div>

{{outlet}}
