{{#if jsonError}}
    <div>
        Bad JSON<br>
      {{jsonErrorMessage}}
    </div>
{{/if}}

<div>
</div>

<div layout="row">
    <div flex="{{jsonBoxWidth}}">
            {{textarea value=jsontext layout-fill="" rows="20"}}
    </div>
    <!-- @todo flexible textarea
      <div layout="row" layout-align="start center" flex="5">
        <div>
          &lt;
        </div>
      </div>
      -->
    <div flex="5">
    </div>

    <div class="ji-frame" layout="column" flex>
        <div >
            {{#sticky-container}}
                {{input value=propertyPath layout-fill=""}}
            {{/sticky-container}}
        </div>
        <div class="md-whiteframe-z2" layout-fill layout-padding>
            {{json-inspector inspectThis=jsonObj updatePath="updatePath"}}
        </div>
    </div>
</div>

{{outlet}}
